package health

{{- if .IsRest}}

import (
    "net/http"
    "github.com/nayefradwi/nayef_go_common/httputil"
)

func HealthCheck(w http.ResponseWriter, r *http.Request) {
    jw := httputil.NewJsonResponseWriter(w)
    jw.WriteSuccessMessage("Healthy", nil)
}
{{- else}}

import (
    "net/http"

    "connectrpc.com/grpchealth"
    "{{.GoModule}}/gen/{{.Name}}/v1/{{.Name}}v1connect"
)

func Handler() (string, http.Handler) {
    checker := grpchealth.NewStaticChecker({{.Name}}v1connect.{{.ServiceName}}ServiceName)
    return grpchealth.NewHandler(checker)
}
{{- end}}
