package main

{{- if .IsRest}}
import (
	"context"
	"log/slog"
	"net/http"

	"github.com/go-chi/chi/v5"
	"github.com/go-chi/chi/v5/middleware"
    {{- if .HasPagination}}
    "github.com/nayefradwi/nayef_go_common/pagination"
    {{- end}}
	"{{.GoModule}}/internal/di"
	"{{.GoModule}}/internal/health"
)

type router struct {
	mux    *chi.Mux
	server *http.Server
	di     *di.Di
}

func newRouter(address string, di *di.Di) router {
    mux := chi.NewRouter()
	r := router{
		mux: mux,
		di:  di,
		server: &http.Server{
			Addr:    address,
			Handler: mux,
		},
	}

    r.setup()
    return r
}

func (ar router) setup() {
	ar.mux.Use(middleware.Logger)
	ar.mux.Use(middleware.RequestID)
	ar.mux.Use(middleware.StripSlashes)
    {{- if .HasPagination}}
    ar.mux.Use(pagination.SetOffsetPaginationMiddleware)
    {{- end}}
	ar.mux.Get("/health", health.HealthCheck)
}
{{- else}}
import (
	"context"
	"log/slog"
	"net/http"

	"connectrpc.com/connect"
	"github.com/nayefradwi/nayef_go_common/connectutil"
	"{{.GoModule}}/gen/{{.Name}}/v1/{{.Name}}v1connect"
	"{{.GoModule}}/internal/di"
	"{{.GoModule}}/internal/health"
	"{{.GoModule}}/internal/{{.Name}}"
)

type router struct {
	mux    *http.ServeMux
	server *http.Server
	di     *di.Di
}

func newRouter(address string, di *di.Di) router {
	mux := http.NewServeMux()
	protocols := new(http.Protocols)
	protocols.SetHTTP1(true)
	protocols.SetUnencryptedHTTP2(true)

	r := router{
		mux: mux,
		di:  di,
		server: &http.Server{
			Addr:      address,
			Handler:   mux,
			Protocols: protocols,
		},
	}

	r.setup()
	return r
}

func (ar router) setup() {
	opts := connect.WithHandlerOptions(
		connect.WithInterceptors(connectutil.ServerErrors()),
		connect.WithRecover(connectutil.Recover()),
	)

	ar.mux.Handle(health.Handler())
	ar.mux.Handle({{.Name}}v1connect.New{{.ServiceName}}ServiceHandler({{.Name}}.NewHandler(), opts))
}
{{- end}}

func (ar router) connect(cancel context.CancelFunc) {
	slog.Info("staring server on address", "address", ar.server.Addr)
	if err := ar.server.ListenAndServe(); err != nil {
		slog.Error("failed to start server", "error", err.Error())
		cancel()
	}
}

func (ar router) disconnect(ctx context.Context) {
	slog.Info("disconnecting server", "address", ar.server.Addr)
	if err := ar.server.Shutdown(ctx); err != nil {
		slog.Error("failed to stop server", "error", err.Error())
		panic(err)
	}
}
